<h1>【詳細画面】</h1>
<div class="show-up">
  <div class="show-up-contents">
    <div class="show-item">
      <%= @item.item %>
    </div>
    <div class="show-image">
      <%= image_tag @item.image.variant(resize: '500x500') %>
    </div>
    <div class="show-explain">
      <%= @item.explain %>
    </div>
    <div class="show-price">
      <br><h2>＜参考価格＞</h2>
      <%= @item.price %>円
    </div>
  </div>
</div>

<div class="show-low">
  <div class="show-low-contents">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <br><%= link_to "商品の編集", edit_admin_item_path(@item.id), method: :get, class: "edit-btn" %>
        <br><%= link_to "削除", "#", method: :delete, class:"destroy-btn" %>
      <% else %>
        <%= link_to "注文画面へ進む", item_orders_path(@item), class:"order-btn"%>
      <% end %>
    <% end %>
  </div>
</div>
<br><%= link_to 'トップページへ戻る', "/" %>