<h1>【詳細画面】</h1>
<div class="show-contents">
  <div class="show-item">
    <%= @item.item %>
  </div>
  <div class="show-image">
    <%= image_tag @item.image.variant(resize: '500x500') %>
  </div>
  <div class="show-explain">
    <%= @item.explain %>
  </div>
</div>

<div class="order-form">
  <%= form_with(model: @item, local: true) do |form| %>
    <div class="item-request">
      <%= form.text_area :explain, placeholder: "お買い物リストの詳細", rows: "15" %>
    </div>
  <% end %>
</div>

<div class="show-edit">
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <br><%= link_to "商品の編集", edit_admin_item_path(@item.id), method: :get, class: "edit-btn" %>
      <br><%= link_to "削除", "#", method: :delete, class:"destroy-btn" %>
    <% end %>
  <% end %>
</div>
<br><%= link_to 'トップページへ戻る', "/" %>